$baseBgColor: #f8f8f8 !default;
$selecetBgColor: #f1f1f1 !default;
$selectColor: #161616 !default;
$btnActionBG: #f5f5f5 !default;
$icon-color: orange !default;
$bgButton: #cfe6e3 !default;
$borderColorButton: #b1d6d1 !default;
$colorButton: #288873 !default;
$bgHover: rgb(173, 233, 229) !default;
$borderHover: #a4fae0 !default;
$bg-popup: #ebf8f7 !default;
$border-popup: #ccc !default;
$a-color: #000 !default;
$a-hover: #cfe6e3 !default;
$bgcard: #cfe6e3 !default;
$colorcard: #288873 !default;
$bodybg: rgb(245, 244, 244) !default;
$bodyColor: rgb(8, 8, 8) !default;
$footerBg: #f5f5f5 !default;
