$baseBgColor: #f8f8f8;
$selecetBgColor: #f1f1f1;
$selectColor: #161616;
$btnActionBG: #f5f5f5;
$icon-color: orange;
$bgButton: #cfe6e3;
$borderColorButton: #b1d6d1;
$colorButton: #288873;
$bgHover: rgb(173, 233, 229);
$borderHover: #a4fae0;
$bg-popup: #ebf8f7;
$border-popup: #ccc;
$a-color: #000;
$a-hover: #cfe6e3;
$bgcard: #cfe6e3;
$colorcard: #288873;
$footerBg: #f5f5f5;
