$margin: 7px;

@mixin direction($dir) {
  direction: $dir;

  .button-45 {
    @if $dir == rtl {
      margin-right: $margin;
    } @else {
      margin-left: $margin;
    }
  }
  .checked {
    @if $dir == ltr {
      margin-right: $margin;
    }
  }

  .popup {
    @if $dir == rtl {
      left: 52%;
    } @else {
      left: 8%;
    }
  }
}

.rDirection {
  @include direction(rtl);
}

.lDirection {
  @include direction(ltr);
}
