@use "./style.scss";
@use "./light.scss" with (
  $baseBgColor: rgb(30, 30, 30),
  $selecetBgColor: #444444,
  $selectColor: #e1e1e1,
  $btnActionBG: #7e7e7e,
  $icon-color: rgb(213, 213, 213),
  $bgButton: #214d47,
  $borderColorButton: #b4d8d3,
  $colorButton: #59c4ad,
  $bgHover: rgb(52, 126, 121),
  $borderHover: #aefae3,
  $bg-popup: #3f635b,
  $border-popup: #ccc,
  $a-color: #b9b9b9,
  $a-hover: #4e7d70,
  $bgcard: #30524e,
  $colorcard: #e1e1e1,
  $bodybg: rgb(47, 82, 82),
  $bodyColor: rgb(245, 245, 245),
  $footerBg: #335a51
);
