@use "./style.scss";
@import "./colorVariables";

html,
body {
  background-color: $baseBgColor;
}

select {
  background-color: $selecetBgColor;
  color: $selectColor;
}

.btn-action {
  background-color: $btnActionBG;
}

.fa-circle-info:hover {
  color: $icon-color;
}

.button-45 {
  background-color: $bgButton;
  border: 1px solid $borderColorButton;
  color: $colorButton;
}

.button-45:hover {
  background-color: $bgHover;
  border-color: $borderHover;
}

.popup {
  background-color: $bg-popup;
  border: 1px solid $border-popup;

  a {
    color: $a-color;
  }

  a:hover {
    background-color: $a-hover;
  }
}

.card-header {
  background-color: $bgcard;
  color: $colorcard;
}

/* styling card footer */
.card-footer {
  background-color: $footerBg;
}
