@use "sass:map";
@use "./base";
@use "./card";
@use "./icon";
@use "./checkbox";
@use "./button";

/* styling popup */
@mixin PopUp {
  display: none;
  position: absolute;
  top: 80%;
  padding: 10px;
  border-radius: 5%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 2px;
  }

  a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5%;
  }
}

.popup {
  @include PopUp;
}

@media only screen and (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .card {
    width: 90%;
  }
}
