html,
body {
  direction: rtl;
  font-family: Sahel VF;
  margin: 0;
}

select {
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 3px;
}

option {
  font-size: large;
}

/* styling cards */
.card {
  font-size: 1.1em;
  border-radius: 7px;
  width: 500px;
}

.card-header {
  padding: 10px 15px;
  font-weight: bold;
}

/* styling card body */
.card-body {
  padding: 12px 15px;
}
.card-body p {
  margin-bottom: 5px;
}

/* styling card footer */
.card-footer {
  padding: 10px 15px;
}

.fa-circle-info {
  font-size: 130%;
  margin-top: 4px;
}

/* styling button icon */
.btn-action {
  cursor: pointer;
  border-radius: 20%;
}

/* styling checkbox */
input[type=checkbox] {
  width: 17px;
  height: 17px;
}

.checked {
  margin-top: 4.5px;
  accent-color: green;
  margin-left: 7px;
}

.button-45 {
  align-items: center;
  border-radius: 11px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  margin-bottom: 15px;
}

.dark-theme {
  background-color: rgb(30, 30, 30);
}
.dark-theme select {
  background-color: #444444;
  color: #e1e1e1;
}
.dark-theme .btn-action {
  background-color: #7e7e7e;
}
.dark-theme .fa-circle-info:hover {
  color: rgb(213, 213, 213);
}
.dark-theme .button-45 {
  background-color: #214d47;
  border: 1px solid #b1d6d1;
  color: #59c4ad;
}
.dark-theme .button-45:hover {
  background-color: rgb(52, 126, 121);
  border-color: #a4fae0;
}
.dark-theme .popup {
  border: 1px solid #ccc;
}
.dark-theme .popup a {
  color: #9b9b9b;
}
.dark-theme .popup a:hover {
  background-color: #444847;
}
.dark-theme .card-header {
  background-color: #12463b;
  color: #e1e1e1;
}
.dark-theme .card-body {
  background-color: #2f534e;
  color: #e1e1e1;
}
.dark-theme .card-footer {
  background-color: #3f635b;
}
.dark-theme .popup {
  background-color: #3f635b;
  border: 1px solid #ccc;
}
.dark-theme .popup a {
  color: #e1e1e1;
}
.dark-theme .popup a:hover {
  background-color: #4e7d70;
}

.rDirection {
  direction: rtl;
}
.rDirection .button-45 {
  margin-right: 7px;
}
.rDirection .popup {
  left: 52%;
}

.lDirection {
  direction: ltr;
}
.lDirection .button-45 {
  margin-left: 7px;
}
.lDirection .checked {
  margin-right: 7px;
}
.lDirection .popup {
  left: 8%;
}

html,
body {
  background-color: #f8f8f8;
}

.fa-circle-info:hover {
  color: orange;
}

.button-45 {
  background-color: #cfe6e3;
  border: 1px solid #b1d6d1;
  color: #288873;
}

.button-45:hover {
  background-color: rgb(173, 233, 229);
  border-color: #a4fae0;
}

.popup {
  background-color: #ebf8f7;
  border: 1px solid #ccc;
}
.popup a {
  color: #000;
}
.popup a:hover {
  background-color: #cfe6e3;
}

.card-header {
  background-color: #cfe6e3;
  color: #288873;
}

/* styling card footer */
.card-footer {
  background-color: #f5f5f5;
}

/* styling popup */
.popup {
  display: none;
  position: absolute;
  top: 80%;
  padding: 10px;
  border-radius: 5%;
}
.popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.popup li {
  padding: 2px;
}
.popup a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5%;
}

@media only screen and (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .card {
    width: 90%;
  }
}
.dark-theme html,
.dark-theme body {
  background-color: rgb(30, 30, 30);
}
.dark-theme select {
  background-color: #444444;
  color: #e1e1e1;
}
.dark-theme .btn-action {
  background-color: #7e7e7e;
}
.dark-theme .fa-circle-info:hover {
  color: rgb(213, 213, 213);
}
.dark-theme .button-45 {
  background-color: #214d47;
  border: 1px solid #b1d6d1;
  color: #59c4ad;
}
.dark-theme .button-45:hover {
  background-color: rgb(52, 126, 121);
  border-color: #a4fae0;
}
.dark-theme .popup {
  border: 1px solid #ccc;
}
.dark-theme .popup a {
  color: #e1e1e1;
}
.dark-theme .popup a:hover {
  background-color: #4e7d70;
}
.dark-theme .card-header {
  background-color: #214d47;
  color: #214d47;
}
.dark-theme .card-body {
  background-color: #214d47;
  color: #214d47;
}
.dark-theme .card-footer {
  background-color: #214d47;
}
.dark-theme .popup {
  background-color: #214d47;
  border: 1px solid #214d47;
}
.dark-theme .popup a {
  color: #214d47;
}
.dark-theme .popup a:hover {
  background-color: #214d47;
}

.light-theme {
  /* styling card footer */
}
.light-theme html,
.light-theme body {
  background-color: #f8f8f8;
}
.light-theme .fa-circle-info:hover {
  color: orange;
}
.light-theme .button-45 {
  background-color: #cfe6e3;
  border: 1px solid #b1d6d1;
  color: #288873;
}
.light-theme .button-45:hover {
  background-color: rgb(173, 233, 229);
  border-color: #a4fae0;
}
.light-theme .popup {
  background-color: #ebf8f7;
  border: 1px solid #ccc;
}
.light-theme .popup a {
  color: #000;
}
.light-theme .popup a:hover {
  background-color: #cfe6e3;
}
.light-theme .card-header {
  background-color: #cfe6e3;
  color: #288873;
}
.light-theme .card-footer {
  background-color: #f5f5f5;
}/*# sourceMappingURL=style.css.map */